<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ManagementAppPractice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F514DFB61D1A289800D4C385</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F514DFCA1D1A289800D4C385</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F514DFD51D1A289800D4C385</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
